/* bootstrap icon */
/* app */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-image: linear-gradient(to right, rgba(179, 121, 27, 0.922), beige);
  }
  
  nav {
    padding: 30px;
    background-color: rgba(236, 193, 86, 0.714);
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  }

/* universal selector */

/* custon variable */

/* removing the scrollbar */
::-webkit-scrollbar{
  display: none;
}

/* select all images */
img{
 aspect-ratio: 1;
 object-fit: cover;
 object-position: center;
}


/* logo */

img[alt='logo']{
    width: 5rem;
}
/* wrapper */

:is(.wrapper){
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}